form {
    text-align: center;
    padding-top: 2cm;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    width: 30%;
    height: 300px;
    margin-top: 6cm;
    margin-bottom: 4cm;
    margin-left: 35%;
}

input {
    text-align: center;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    width: 400px;
}

button{
    text-align: center;

}