<!-- <table border="1" *ngIf="cName">
 <thead>
   <tr>
     <th>Course ID</th>
     <th>Course Name</th>
   </tr>
 </thead>
 <tbody>
   <tr *ngFor="let c of courses">
     <td *ngIf="c.courseName == cName">{{c.courseId}}</td>
     <td *ngIf="c.courseName == cName">{{c.courseName}}</td>
   </tr>
 </tbody>
	</table>

	<table border="1">
      <thead>
        <tr>
          <th>Course ID</th>
          <th>Course Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.courseId}}</td>
          <td>{{course.courseName}}</td>
          <td><button (click)="register(course.courseName)">Register</button></td>
        </tr>
      </tbody>
    </table>
         -->
<!-- task one -->
<!-- <table border="1">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{course.courseId}}</td>
      <td>{{course.courseName}}</td>
    </tr>
  </tbody>
</table> -->
<!-- task 2 -->
<table>
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
  </tr>
  <tr>
    <td>{{ courseitem.id }}</td>
    <td>{{ courseitem.name }}</td>
  </tr>
</table>