<div class="counter" style="margin-left: 45%; ">
    <mat-card-title>Cart Count : {{count$ |async}}</mat-card-title>
</div>
<table>
    <td>
        <mat-card class="example-card">
            <img mat-card-image src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662418914/Croma%20Assets/Communication/Mobiles/Images/230107_t40uo8.png/mxw_640,f_auto" alt="Iphone 11">
            <br/>
            <mat-card-title style="text-align: center">Iphone 11</mat-card-title>
            <mat-card-title style="text-align: center">Price: 69720</mat-card-title>
            <button mat-button color="accent" (click)="increment()">Add To Cart</button>
          </mat-card>        
    </td>
    <!-- <td>
        <mat-card class="example-card">
            <img mat-card-image src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662418914/Croma%20Assets/Communication/Mobiles/Images/230107_t40uo8.png/mxw_640,f_auto" alt="Iphone 12">
            <br/>
            <mat-card-title style="text-align: center">Iphone 12</mat-card-title>
            <mat-card-title style="text-align: center">Price: 79720</mat-card-title>
            <button mat-button color="accent">Add To Cart</button>
          </mat-card>        
    </td>
    
    <td>
        <mat-card class="example-card">
            <img mat-card-image src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662418914/Croma%20Assets/Communication/Mobiles/Images/230107_t40uo8.png/mxw_640,f_auto" alt="Iphone 13">
            <br/>
            <mat-card-title style="text-align: center">Iphone 13</mat-card-title>
            <mat-card-title style="text-align: center">Price: 89720</mat-card-title>
            <button mat-button color="accent">Add To Cart</button>
          </mat-card>        
    </td> -->
    
    <td>
        <mat-card class="example-card">
            <img mat-card-image src="https://media.croma.com/image/upload/v1662703416/Croma%20Assets/Communication/Mobiles/Images/261991_hhfa33.png" alt="Iphone 14">
            <br/>
            <mat-card-title style="text-align: center">Iphone 14</mat-card-title>
            <mat-card-title style="text-align: center">Price: 69720</mat-card-title>
            <button mat-button color="accent"(click)="increment()">Add To Cart</button>
          </mat-card>        
    </td>
    
</table>


