<h1 mat-dialog-title>Add Todo</h1><br>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Todo</mat-label>
      <input formControlName="Todo" matInput placeholder="Todo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>description</mat-label>
      <input formControlName="description" matInput placeholder="description">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose Deadline</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <h4>mat-select</h4>
    <mat-form-field appearance="outline">
      <mat-label>Priority</mat-label>
      <mat-select>
        <mat-option value="option1">Low</mat-option>
        <mat-option value="option2">Medium</mat-option>
        <mat-option value="option3">High</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    <button mat-raised-button color="accent">Add</button>
  </div>
</div>

