<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sahil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
 <div>


</div> -->
<!-- <app-login></app-login> -->
<!-- <select [(ngModel)]="selectedValue">
  <option *ngFor="let item of items" [value]="item.name">
    {{ item.name }}
  </option>
</select>
<div class="row" [ngSwitch]="selectedValue">
  <div *ngSwitchCase="'One'">One is Pressed</div>
  <div *ngSwitchCase="'Two'">Two is Selected</div>
  <div *ngSwitchCase="'Three'">Three is Selected</div>
  <div *ngSwitchCase="'Four'">Four is Selected</div>
  <div *ngSwitchCase="'Five'">Five is Selected</div>
  <div *ngSwitchDefault>Default Option</div>
</div> -->
<!-- task 2 -->
<!-- <table>
  <tr id="col">
    <th>Order ID</th>
    <th>Porduct Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Transaction Status</th>
  </tr>
  <tr *ngFor="let items of items">
    <td>{{ items.orderId }}</td>
    <td>{{ items.productName }}</td>
    <td>{{ items.quantity }}</td>
    <td>{{ items.price }}</td>
    <td>{{ items.transaction }}</td>
  </tr>
</table> -->

<!-- <div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1">
</div>
<div class="strength" style="background-color: aquamarine">{{passwordStrength}}
</div>

<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1">
</div>
    <div class="strength" style="background-color: aquamarine">{{passmatch}}
</div>
<br>
<button (click)="validate()" type="submit" class="btn btn-primary">Submit</button> -->
<!-- <button appButton >Click me</button> -->

<!-- <app-form></app-form> -->
<!-- <div>
  {{score|date}}<br/>
  {{score|currency :'INR' :'code' }}<br/>
  {{score|number }}<br/>

1.	{{ "6/2/2017" | date }} <br/>
2.	{{ "6/2/2017, 11:30:45 AM" | date:'medium' }}<br/>
3.	{{ "6/2/2017, 11:30:45 AM" | date:'mmss' }} {{ 90000000 | date }} <br/>
4.  {{ {'productId':1234, 'productName':'Samsung Mobile'} | json  }}<br/>
5.  {{6|sqr}}<br/>
6.  {{ "Divyansu Pannde" | salutation : "M" }}
</div> -->

<!-- <app-templatedrivenform></app-templatedrivenform>
<app-reactivedrivenform></app-reactivedrivenform> -->

<!-- date service -->
<!-- <div>
  date{{today}}
</div> -->
<!-- Input myInputMessage -->
<!-- <div>
  <h1>Welcome to app</h1>
  <h2>I am Parent</h2>
  <div>
      <app-parentchild [myinputMsg]="myInputMessage"></app-parentchild>
  </div>
</div> -->
<!-- 1.	<app-output [myinputMsg]="myInputMessage" (myOutput) ="GetChildData($event)"></app-output>    -->
<!-- 1.	<app-book [bookToDisplay]="userBook" ></app-book>  -->
<!-- 1.	<img [src]="iconUrl">  -->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <app-login [username]="firstname"> </app-login> -->
<!-- </div> -->
<!-- <h2> Course Details </h2> --> 

<!-- Select a course to view <select #course (change)="name" = course.value">
  <option value="Node JS">Node JS</option>
  <option value="Typescript">Typescript</option>
  <option value="Angular">Angular</option>
  <option value="React JS">React JS</option>
</select><br /><br /> -->

<!-- <app-course-list [cName]="name"></app-course-list> -->
<!-- <div style="text-align:center"> -->
<!-- <app-login (customevent)="updateFromChild($event)"></app-login> -->
<!-- {{ count }} -->
<!-- </div> -->

<!-- <h2> Courses List </h2> -->


<!-- <br/><br/> -->

<!-- <div *ngIf="message">{{message}}</div> -->

<!-- <h2> Popular Courses </h2>
<button (click)="show=true">View Courses list</button><br /><br />
<div *ngIf="show">
<app-course-list></app-course-list>
</div> -->


<!-- Nested -->

<!-- <div class="container">
  <h2>Course Details</h2>
  <p>Select a course to view</p>
  <select [(ngModel)]="selectedCourseValue">
    <option *ngFor="let courseitem of courseitems" [value]="courseitem.id">
      {{ courseitem.name }}
    </option>
  </select>
  <app-course-list [courseitem]="courseitems[selectedCourseValue - 1]"></app-course-list>
</div> -->

<!-- <app-templatedrivenform></app-templatedrivenform> -->
<app-reactivedrivenform></app-reactivedrivenform>