/* table,th,td{
    border: 1px solid black;
    margin: 1rem;
    padding: 0.5rem;
    border-collapse:collapse;
   

}
table{
    border: 2px solid black;
}
#col,th{
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
    background-color: aqua;
} */

/* .strength{
text-align: center;
border: 0.5px solid black;
border-radius: 3px;
padding: auto;
height: 1cm;
} */
div{font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 3cm;
    padding-left: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    color: rgb(33, 154, 33);
    
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}